html {
    height: 100%;
}
body {
	font-size: 10pt;
	margin: 0;
	padding: 0;
	height: 100%;
}

#side_bar {
    float: left;
    width: 0px;
    height: 100%;
    margin-left: 0px;
}

#map_canvas {
	height: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#map_title {
    text-align: center;
}

#logo {
    text-align: center;
}

#layer_picker ul {
    padding-left:0;
    font-size: 10pt;
}

#layer_picker ul li {
	list-style:none;
}

#accordion .ui-accordion-content {
    padding: 1em; 
}