html {
    height: 100%;
}
body {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	height: 100%;
}

#side_bar {
    float: left;
    width: 15%;
    height: 100%;
}

#map_canvas {
    width: 85%;
	height: 100%;
}

#map_title {
    text-align: center;
}

#layer_picker ul {
    padding-left:0;
}

#layer_picker ul li {
	list-style:none;
}